/*
Background color, grey: #353130
Accent color, orange: #c06014
font: https://fonts.google.com/specimen/PT+Sans+Narrow
*/


/* general styles for full document */
body {
    background-color: #353130;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

* {
    border-radius: 0 !important;
}

/* responsive media stuff */
@media (max-width: 480px) {
  #main .jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #bio-img {
    display: none;
  }
}

/* nav bar style */
.navbar img {
    height: 35px;
    width: 35px;
}
.navbar #logo-am {
    height: 60px;
    width: 220px;
}

/* jumbotron */

#main .jumbotron {
    background-color: #e1e1e1;
}

.jumbotron img {
    height: 100%;
    width: 100%;

}

/* Bio/contact styles */

#bio-section {
    /* border: 1px solid red; */
    color: #fff;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#bio-img img {
    height: 500px;
    width: 100%;
    padding-top: 25px;
}

.contact-form {
    text-align: center;
    font-size: 18px;
}

.form-control:focus {
    border-color: #c06014;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* contact form detail */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid transparent; /* Gray border */
    border-bottom: 1px solid #000;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /* Allow the user to vertically resize the textarea */
    border-bottom: 2px solid #000;
    background-color: transparent;
    color: #fff;
}

input[type=name], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid transparent; /* Gray border */
    border-bottom: 1px solid #000;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /* Allow the user to vertically resize the textarea */
    border-bottom: 2px solid #000;
    background-color: transparent;
    color: #fff;
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid transparent; /* Gray border */
    border-bottom: 1px solid #000;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /* Allow the user to vertically resize the textarea */
    border-bottom: 2px solid #000;
    background-color: transparent;
    color: #fff;
}

input[type=submit] {
    padding: 12px 20px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 2px solid #c06014;
}

#contact-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
}

#contact-btn:hover {
    color: none;
    border-bottom: 1px solid #C06014;
}

/* fill and press section */

#img-fill {
    padding-top: 15px;
    /* border-top: 1px solid red; */
}
#img-fill img {
    height: 6 50px;
    width: 99%;
}

/* footer */

#footer {
    padding-top: 15px;
}
#footer-social .row {
    padding-bottom: 5px;
    bottom-border: 1px solid #fff;
}
#footer img {
    width: 28px;
    height: 25px;
}
#footer-copy {
    color: #fff;
    padding: 10px 40px 0px 25px;
    margin-top: 10px;
    border-top: 1px solid #fff;
}
