body {
  background-color: #404040;
  font-size: 48px;
  text-align: center;
}
#nav {
  background-color: #404040;
  overflow: hidden;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 10px;
}
#logo img {
  height: 60px;
  width: 220px;
  float: left;
  display: inline;
}
#navbar {
  padding-right: 15px;
  padding-top: 15px;
  float: right;
}
#navbar a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #404040;
  font-size: 22px;
  color: #fff;
  text-align: right;
}
#navbar a:hover {
  text-decoration: none;
}
#navbar a:active {
  text-decoration: none;
}
#navbar img {
  width: 26px;
  height: 26px;
  padding: 0px 1px 5px 1px;
}
.jumbotron {
  background-color: #404040;
}
.jumbotron img {
  height: 100%;
  width: 100%;
}
